<h2>Detail Page</h2>
<hr>
<h3>Country</h3>


<% if (result) { %>
    <li>Capital: <%= result.capital %>
    <li>Population(in mil): <%= result.populationInMil %>
    <li>Language: <%= result.language %>
<% } else { %>
    not found
<% } %>
